$font-pri: "PT Serif", "Helvetica", Sans Serif;
$font-sec: "PT Sans", Georgia, Serif;

$color-pri: #E07426;
$color-sec: #B26934;
$color-header: #13141C;
$color-footer: #3A3B42;
$text-bright: #ddd;

body{
	background-color: #fafafa;
	color: #444;
	font-weight: 400;
	font-family: $font-pri;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-sec;
	font-weight: bold;
}
