.site-header{
	background: $color-header;

}

.header-content{
	margin: 0 auto;
	@media (min-width: 550px) {
		width: 80%; }
	@media (min-width: 400px) {
		width: 85%;
		padding: 0; }
}


.site-header{
	position: relative;
	width: 100%;
	max-width: 960px;
	padding: 1rem 2rem;
	box-sizing: border-box;

	//media queries for header/sidebar
	@media (min-width: 550px) {
		width: 100%;
	}
	@media (min-width: 400px) {
		width: 100%;
		padding: 0;
	}
	@media (max-width: 1000px) {
		margin-bottom: 2.5rem;
}
	@media (min-width: 1000px) {
		width: 20rem;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: $sidebar-width;
		text-align: left;
	}
}


nav ul{
	list-style-type: none;
}
